*/* {
  outline: red 1px solid;
}*/

body {
  background-color: black;
}

.main {
  background-color: white;
  margin-top: 110px;
  padding-left: 100px;
  min-width: 1200px;
  height: 500px;
}

.ryu {
	float: left;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  width: 659px;
  height: 494px;
  background-repeat: no-repeat;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
  display: none;
  background-repeat: no-repeat;
} 

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
  background-repeat: no-repeat;
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
  background-repeat: no-repeat;
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
  background-repeat: no-repeat;
}

.ryu-cool {
  background-image: url('../images/ryu-cool.gif');
  background-repeat: no-repeat;
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing {
  background-repeat: no-repeat;
}

.hadouken {
  background-image: url('../images/hadouken.gif');
  background-repeat: no-repeat;
  width: 156px; 
  height: 90px;
  display: none;
  position: relative;
  top: -322px;
  left: -15px;
  float: right;
}